ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

html {
  background-image: url("./../assets/images/background2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.add-meal {
  color: rgb(255, 255, 255);
}
.star-text-holder input,
.add-meal input {
  border: 2px solid #666461;
  border-radius: 30px;
  height: 40px;
  margin: 5px 10px 5px 10px;
  padding: 5px;
}
.add-meal textarea {
  border: 2px solid #5f4a22;
  border-radius: 30px;
  padding: 10px;
  width: 30%;
  height: 100px;
  overflow: auto;
}
.add-meal input,
textarea:focus {
  outline: none;
}
.mainPage {
  color: white;
  font-weight: bold;
  font-size: large;
  line-height: 30px;
}
.header {
  opacity: 0.9;
  background-color: white;
  border: 1px solid #28993b;
  border-radius: 10px;
  box-shadow: 5px 5px 8px #28993b;
  padding: 10px;
}
section.header {
  color: #5f4a22;
}

nav,
nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  text-decoration: none;
}

.searchbar {
  width: 30em;
  height: 40px;
  border-radius: 30px;
  padding: 10px;
  border: 2px solid #6b5835;
}
input[type="text"]:focus {
  outline: none;
}

nav ul {
  width: 40%;
  text-decoration: none;
}
nav ul li {
  margin: 0;
  color: #5f4a22;
  text-decoration: none;
}
/* nav ul a:visited {
  font-size: large;
  margin: 0;
  color: white;
  text-decoration: none;
} */
.menu-lists a:link,
.menu-lists a:visited,
.menu-lists {
  font-size: large;
  font-weight: bold;
  margin: 0;
  color: #5f4a22;
  background-color: white;
  text-decoration: none;
}

.meal-list2 a:visited,
nav ul a:active,
nav ul a:visited,
.meal-list2 a:link,
nav ul a:link {
  font-size: large;
  font-weight: bold;
  margin: 0;
  color: white;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: none;
  border: 2px solid #5f4a22;
  background-color: white;
  height: 40px;
  border-radius: 30px;
  padding: 5px;
  text-align: center;
  color: #5f4a22;
}
.review-list-section {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
  width: 100%;
}

.meal-list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
  width: 100%;
  height: 500px;
  overflow: auto;
}
.meal-list-search {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
  width: 100%;
}
.meal-list2 {
  background-color: white;
}
.review-list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
  width: 100%;
}
.review-list-section ul,
.meal-list-search ul,
.review-list ul,
.meal-list ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid #5f4a22;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 5px 5px 8px #28993b;
  margin-bottom: 5px;
  line-height: 25px;
  opacity: 0.9;
}
.button-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.review-box {
  width: 100%;
  height: 150px;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 5px 5px 8px #28993b;
  margin-bottom: 20px;
  font-size: 0.9em;
  padding: 8px;
  overflow: scroll;
}

.review-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
}

footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 12px;
  height: 40px;
  background: #ccc;
}

.star {
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  margin: 0 10px 0 10px;
  background-color: rgb(203, 211, 212);
  -webkit-clip-path: polygon(
    50% 0%,
    63% 38%,
    100% 38%,
    69% 59%,
    82% 100%,
    50% 75%,
    18% 100%,
    31% 59%,
    0% 38%,
    37% 38%
  );
  clip-path: polygon(
    50% 0%,
    63% 38%,
    100% 38%,
    69% 59%,
    82% 100%,
    50% 75%,
    18% 100%,
    31% 59%,
    0% 38%,
    37% 38%
  );
}

.star-mealslist {
  width: 1.2em;
  height: 1.2em;
  background-color: rgb(203, 211, 212);
  margin: 10px 0 10px 0;
  -webkit-clip-path: polygon(
    50% 0%,
    63% 38%,
    100% 38%,
    69% 59%,
    82% 100%,
    50% 75%,
    18% 100%,
    31% 59%,
    0% 38%,
    37% 38%
  );
  clip-path: polygon(
    50% 0%,
    63% 38%,
    100% 38%,
    69% 59%,
    82% 100%,
    50% 75%,
    18% 100%,
    31% 59%,
    0% 38%,
    37% 38%
  );
}
.star-group {
  border: 2px solid #28993b;
  justify-content: center;
  border-radius: 30px;
}

.star:hover,
.star.selected {
  background-color: #28993b;
}
.selected {
  background-color: #28993b;
}
.star-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.star-text-holder {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 5px 5px 8px #28993b;
  margin: 10px 0 10px 0;
  padding-left: 5px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
}

.treview-list {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 600px;
  overflow: scroll;
}

.treview-list ul {
  display: flex;
  flex-direction: column;
  border: 2px solid #5f4a22;
  border-radius: 30px;
  box-shadow: 5px 5px 8px #28993b;
  margin: 5px;
  opacity: 0.9;
  padding: 10px;
  line-height: 25px;
}

.menu-list ul {
  display: flex;
  flex-direction: column;
  border: 1px solid #5f4a22;
  border-radius: 30px;
  box-shadow: 5px 5px 8px #28993b;
  line-height: 25px;
  margin: 5px;
  opacity: 0.9;
}
.menu-list ul:hover {
  cursor: pointer;
}

.menu-list ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}
.menu-lists a {
  border-radius: 30px;
}
.meal-list2 a:hover {
  text-decoration: none;
  border: 2px solid #5f4a22;
  background-color: white;
  border-radius: 30px;
  font-size: 140%;
  color: #5f4a22;
}
.menu-lists a:hover {
  text-decoration: none;
  border: 2px solid #5f4a22;
  background-color: white;
  border-radius: 30px;
  font-size: 140%;
  color: #5f4a22;
}
.menu-list ul:hover {
  margin: -20px 0 -20px 0;
}
